.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-area: n;
}

.dialogsItems {
  padding: 10px;
}
.dialogsItems .active {
  color: gold;
}
.messages {
  padding: 10px;
}
.messages .message {
  color: wheat;
}
